* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.total-body {
  width: 100%;
  height: 100vh;
  /* this image is free from copyright */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/lonely-tree-in-the-middle-of-the-snow-plain-picjumbo-com.jpg);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}
ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 80px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding: 15px;
}
ul li a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#logo {
  height: 70px;
  cursor: pointer;
}
#menu {
  height: 50px;
  cursor: pointer;
  margin-left: 40px;
  padding: 15px;
}
#menu:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navcontainer {
  height: 12%;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}
.body {
  display: flex;
  height: 88%;
  align-items: center;
}
.body-1 {
  flex-basis: 50%;
  color: white;
}
.body-1 h1 {
  font-size: 100px;
}
.body-1 p {
  font-size: 11px;
  line-height: 15px;
}
button {
  width: 150px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  margin-top: 40px;
  outline: none;
  cursor: pointer;
  transition: all 1s linear;
}
.body-2 {
  margin-left: 100px;
}
.b1 {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  margin: 10px 15px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.card1 {
  background-image: url(./image2/b1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.card2 {
  background-image: url(./image2/b2.jpg);
  background-position: center;
  background-size: cover;
}
.card3 {
  background-image: url(./image2/b3.jpg);
  background-position: center;
  background-size: cover;
}
.card4 {
  background-image: url(./image2/b4.jpg);
  background-position: center;
  background-size: cover;
}
.card5 {
  background-image: url(./image2/b5.png);
  background-position: center;
  background-size: cover;
}
.b1:hover {
  transform: translateY(-10px);
}
button:hover {
  background-color: rgb(146, 102, 102);
  color: yellow;
}
h5 {
  color: white;
  text-shadow: 0, 0, 5px blue;
}
p {
  color: white;
  text-shadow: 0, 0, 5px blue;
  font-size: 10px;
}
@media screen and (max-width: 790px) {
  .body-1 {
    width: 50% !important;
  }
  .body-2 {
    width: 50% !important;
  }
}
@media screen and (max-width: 1440px) {
  .b1 {
    height: 80%;
  }
}
@media screen and (max-width: 900px) {
  .b1 {
    height: 50%;
  }
}
@media screen and (max-width: 662px) {
  h1 {
    font-size: 40px !important;
  }
  .body-1 {
    width: 30% !important;
  }
  .body-2 {
    width: 50% !important;
  }
}
@media screen and (max-width: 640px) {
  .body-1 {
    width: 50% !important;
  }
  .body-2 {
    width: 50% !important;
  }
}
@media screen and (max-width: 360px) {
  .body-1 {
    width: 30% !important;
    height: 300px;
    overflow: auto;
  }
  .body-2 {
    width: 50% !important;
    margin-left: 0px !important;
  }
  .b1 {
    height: auto;
  }
}
